# Игнорировать все файлы .pyc (сгенерированные Python файлы)
*.pyc

# Игнорировать папку с кэшами Python
__pycache__

# Игнорировать все временные файлы
*.pyo

# Игнорировать файлы базы данных
*.db

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать файлы для разработки (например, тесты, логи)
*.log
tests/

# Игнорировать директорию с данными, которые не требуются в контейнере
data/
